<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="public/stylesheets/home.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <title>Homepage</title>
    </head>
    <body>

    <style>
body {

    width: 100%;
    height:697px;
    background-image: url('../imgs/Home.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
</style>

        <a class="btn btn-info btn-xl" href="/reception" role="button" style="position: relative;
top: 500px; left: 720px;">LOGIN</a>

<style>
    .btn-xl {
    
    padding: 20px 80px;
    font-size: 20px;
    border-radius: 10px;
}
</style>

    </body>
</html>
