<html>
  <head>
    <link rel="stylesheet" href="views/app.css" />
  </head>
  <body>
    <form action="/login" method="GET">
      <button type="submit">Go To Login</button>
    </form>
  </body>
</html>