<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../stylesheets/index.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
  </script>
  <title>Homepage</title>
</head>

<body>

  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../imgs/logo.svg" alt="logo" width="70" height="60" align="left">
        <h1>MEDITECH</h1>
      </a>
    </div>
  </nav>

  <div class="tbox">
    <h1>SPECTRE<br>WELLNESS<br>CLINIC</h1>
  </div>

    <form action="/login" method="GET">
        <button class="btn btn-info btn-xl" 
                type="submit">LOGIN</button>
    </form>

<style>
  .btn-xl {
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 750;
    border-radius: 10px;
  }
</style>

</body>

</html>
