
body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color: #F5F5F5 !important;
   
}

#content{
    width:90vw;
    margin: 0 auto;
}

.navbar{
    margin-bottom: 2em;
}
a{
    color: #000000 !important;
}

#doctorname{
    text-align: left;
    font-size: 40px;
    margin-left: 0.001em;

}

#date{
    text-align: left;
    font-size: 20px;
    margin-left: 0.001em;
    margin-top: 0.1em;
    
}

#doctorinfodiv{
    display: inline-block;
    color:#000000;
    background-color:white;
    padding:2.5em;
    border-radius: 1em;
    margin-top: 0em;
    margin-bottom: 2em;


}

#patientinfodiv{
    color:#000000;
    background-color:white;
    padding:2.5em;
    border-radius: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    display:block;

}


.pic{
    height: 150;
    width: 150;
    margin-left: 925;
    margin-top: -112;
}



.btn-primary{
    background-color: #2AC5C5 !important;
    border: solid #2AC5C5  !important;

}
.btn-secondary{
    background-color: #051320 !important;
    border: solid #051320  !important;

}


@media (max-width: 767.98px) { 
    #leftinfo, #rightinfo{
        font-size: 0.8em;
        padding-left: 1em;  
    
    }

    #patientname{
        font-size: 2em;
        font-weight: 500;
    }

 }
 @media (max-width: 575.98px) {
    #leftinfo{
        border:none;
    }
    #leftinfo, #rightinfo{
        font-size: 0.8em;
        padding-left: 0.5em;  
    
    }
    
 }
