
body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color: #F5F5F5 !important;
   
}

#content{
    width:90vw;
    margin: 0 auto;
}

.navbar{
    margin-bottom: 2em;
}
a{
    color: #000000 !important;
}

#doctorname{
    text-align: left;
    font-size: 3.5em;
    margin-left: 0.001em;

}

#date{
    text-align: left;
    font-size: 2em;
    margin-left: 0.001em;
    margin-top: 0.1em;
    
}

#doctorinfodiv{
    color:#000000;
    background-color:white;
    border-radius: 1em;
    margin-top: 0em;
    margin-bottom: 2em;
    width:100%;
    height:30vh;
    overflow: hidden;
    padding:0.5em;


}

#patientinfodiv{
    color:#000000;
    background-color:white;
    padding:2.5em;
    border-radius: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    width:100%;

}
#namediv{
    padding:2.0em;
}
#imagediv{
    height:100%;
    background-image: url(../imgs/doctor2.svg);
    background-size: 600px 200px;
    background-repeat: no-repeat;
    overflow: hidden;
}
.btn-primary{
    background-color: #2AC5C5 !important;
    border: solid #2AC5C5  !important;

}