
#fullpage{
    width:100vw;
    height:100vh;
    background-image: url('../imgs/landing3.svg');
    background-repeat: no-repeat;
    background-size: cover;

}

#pagecontent{
    width: 100vw;
    display: flex;
    justify-content: right;
    margin-top: 4em;
}

.tbox{
    width: 45vw;
    padding: 1em;
    padding-left: 3em;
    margin-right: 2em;

}

.tbox h1{
    font-weight: bold;
    font-size: 6em;
    text-align: left;
    padding-bottom: 0.8em;

}

