#content{
    width:90vw;
    margin: 0 auto;
}

.navbar{
    margin-bottom: 2em;
}
a{
    color: #2AC5C5 !important;
}

#patientinfodiv{
    color:#ffffff;
    background-color:#2AC5C5;
    padding:2.5em;
    border-radius: 1em;
    margin-bottom: 2em;


}
#patientname{
    font-size: 3em;
    font-weight: 600;
}
#patientnametitle{
    font-size: 0.8em;
    font-weight: 400;

}

#leftinfo, #rightinfo{
    font-size: 1.2em;
    padding-left: 2.5em;  

}
#leftinfo{
    border-right: solid #ffffff;
}

#newrecordbtndiv{
    display: flex;
    justify-content: right;
}

table 
{
    table-layout:fixed;
    width:100%;    
}
#tablebtns{
    display: flex;
    justify-content: right;
    justify-content: space-between;

}
.btn-primary{
    background-color: #2AC5C5 !important;
    border: solid #2AC5C5  !important;

}
.btn-secondary{
    background-color: #051320 !important;
    border: solid #051320  !important;

}

textarea{
    height:25vh; 
}

@media (max-width: 767.98px) { 
    #leftinfo, #rightinfo{
        font-size: 0.8em;
        padding-left: 1em;  
    
    }

    #patientname{
        font-size: 2em;
        font-weight: 500;
    }

 }
 @media (max-width: 575.98px) {
    #leftinfo{
        border:none;
    }
    #leftinfo, #rightinfo{
        font-size: 0.8em;
        padding-left: 0.5em;  
    
    }
    
 }


